<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title><%= data.title %></title>
  <!-- Include Font Awesome. -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="stylesheets/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/components/site.css">

  <link rel="stylesheet" type="text/css" href="/components/container.css">
  <link rel="stylesheet" type="text/css" href="/components/grid.css">
  <link rel="stylesheet" type="text/css" href="/components/header.css">
  <link rel="stylesheet" type="text/css" href="/components/image.css">
  <link rel="stylesheet" type="text/css" href="/components/menu.css">

  <link rel="stylesheet" type="text/css" href="/components/divider.css">
  <link rel="stylesheet" type="text/css" href="/components/dropdown.css">
  <link rel="stylesheet" type="text/css" href="/components/segment.css">
  <link rel="stylesheet" type="text/css" href="/components/button.css">
  <link rel="stylesheet" type="text/css" href="/components/list.css">
  <link rel="stylesheet" type="text/css" href="/components/icon.css">
  <link rel="stylesheet" type="text/css" href="/components/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/components/transition.css">

  <style type="text/css">

    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }


  </style>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/components/visibility.js"></script>
  <script src="/components/sidebar.js"></script>
  <script src="/components/transition.js"></script>
  <script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

      //-----
		/*$('.ui.search').search({
		    apiSettings: {
		      url: '/api/search?q={query}'
		    },
		    fields: {
		      results : 'results',
		      title   : 'title',
		      description : 'preface',
		      url     : '_id'
		    },
		    minCharacters : 3
		  })
		;*/


		$('.ui.search')
		  .search({
		    minCharacters : 1,
		    apiSettings   : {
		      onResponse: function(Response) {

		        var response = { results : [] };

		        // translate GitHub API response to work with search
		        $.each(Response.results, function(index, item) {
		          var maxResults = 8;

		          if(index >= maxResults) {
		            return false;
		          }

		          // add result to category
		          response.results.push({
		            title       : item.title,
		            description : item.preface,
		            url         : '/article?id='+item._id
		          });
		        });
		        return response;
		      },
		      url: '/api/search?q={query}'
		    }
		  })
		;
      //--

    })
  ;
  </script>
</head>
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Home</a>
    <a class="item">Work</a>
    <a class="item">Company</a>
    <a class="item">Careers</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">Work</a>
  <a class="item">Company</a>
  <a class="item">Careers</a>
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment" style="
  background: linear-gradient(      rgba(0,0,0,0.6),       rgba(0,0,0,0.6)),url(<%= data.feature_picture %>) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu" style="
    border-color: rgba(0,0,0,0) !important;
">
        <a class="toc item">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item">瀏覽</a>
        <a class="item">HashTag</a>
        <div class="right item">
        	<div class="ui search">
			  <div class="ui left icon input">
			    <input class="prompt" type="text" placeholder="搜尋文章">
			  </div>
			</div>
			<a class="item"></a>
			<a class="item"></a>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        <%= data.title %>
      </h1>
      <h3><%= data.preface %></h3>
      <h4>@<%= data.author %></h4>
      <h4><i class="fa fa-calendar" aria-hidden="true"></i> <%= data.date.toLocaleString() %> &nbsp;&nbsp;&nbsp; <i class="fa fa-fire" aria-hidden="true"></i> <%= data.view %> &nbsp;&nbsp;&nbsp; <i class="fa fa-heart" aria-hidden="true"></i> <%= data.liked %></h4>
      <h5><i class="fa fa-tags" aria-hidden="true"></i> <%= data.hash_tag %></h5>
    </div>
  </div>

  <div class="ui text container" style="
    padding-bottom: 50px;
    padding-top: 50px;
    word-break: break-all;">
	<%- data.content %>
  </div>


  <div class="ui black inverted vertical footer segment">
  	<div class="ui center aligned container">
    	<div class="ui horizontal inverted small divided link list">
    		<h6>system open source - License MIT.</h6>
      		<h5>2016 立於和春科技大學資訊工程系 J605B 人機互動實驗室</h5>
      		<h5>WebDesign By MacTaylor, this project from J605b soft-lab, system open source - License MIT. All Authors are certified by our school!</h5>
    	</div>
  	</div>
  </div>

</div>
</div>
<script src="/javascripts/semantic.min.js"></script>
</body>
</html>
